.section#about
	.container
		h2.text-center.creators 퍼스널 브랜딩 소개
		//h3.more-info Need more information?
		.row.coloured-cards.pt-5
			.col-md-4.col-sm-6
				.card-big-shadow
					.card.card-just-text.bg-info.text-light(data-background="color" data-color="blue" data-radius="none")
						.card-body.p-5
							h6.card-category 설립이념
							h4.card-title
								p.text-white.font-weight-bold “ 당신의 브랜드 가치를 높이기 위해서 최선을 다하겠습니다.”
								br
								p.text-white 1) 퍼스널브랜딩 유니온(PBU)은 퍼스널브랜딩을 통해서 평생 직장이라는 개념이 사라져가고, '나' 자체가 하나의 브랜드가 되어서 이 사회에서 당당히 살아갈 수 있도록 개인에게 가이드하고 컨설팅 해주기 위해 설립된 기업입니다.
								br
								p.text-white 2) 개인의 경쟁력이 곧 기업의 경쟁력입니다.  누구든지 나 자신의 퍼스널브랜드를 구축하여 나 자신은 물론 기업에도 더 발전된 미래를 설계 할 수 있습니다.
					// end card
			.col-md-4.col-sm-6
				.card-big-shadow
					.card.card-just-text.bg-warning.text-light(data-background="color" data-color="blue" data-radius="none")
						.card-body.p-5
							h6.card-category 퍼스널 브랜딩의 개념
							h4.card-title
								p.text-white.font-weight-bold “이 세상 최고의 브랜드 바로 당신입니다.”
								br
								p.text-white - 퍼스널브랜딩이란 개인( Personal)이 가지고 있는 꿈, 가치관, 비전, 장,단점, 매력, 재능 등을 분석하여 개인의 포지션과 목표를 정하고 여기에 맞는 브랜딩툴과 채널을 통해서 자신의 가치를 높이는 동시에 유지와 관리를 하는 작업을 통틀어 말합니다.
								br
								p.text-white -기업과 사회는 누구나 우수한 인재를 원합니다. 그러나 과거와 다르게 학벌이 좋고 스펙이 좋다고 인재는 아닙니다. 다른 누군가와 구별이 되는 포지션과 차별화만이 개인의 가치와 능력을 인정해 주는 시대입니다. 개인도 이제는 브랜드시대입니다. 여러분의 브랜드가 여러분의 미래입니다.
			.col-md-4.col-sm-6
				.card-big-shadow
					.card.card-just-text.bg-danger.text-light(data-background="color" data-color="blue" data-radius="none")
						.card-body.p-5
							h6.card-category 퍼스널 브랜딩의 효과
							h4.card-title
								p.text-white.font-weight-bold “나라는 사람을 결정하는 것은 나 자신입니다.”
								br
								p.text-white 1) 첫 번째, 나를 알리는 독창성
								p.text-white - 퍼스널브랜드가 구축되어 있다면  사람들이 내가 좋아하는 일, 잘하는 일을 알기 때문에 그 일을 집중적으로 주게 될 확률이 높아집니다.
								br
								p.text-white 2) 두 번째, 성공적인 인간 관계
								p.text-white - 나의 성향, 가치관, 내가 하는 일, 나의 강점 등을 파악하였기 때문에 사람들음 오픈된 나를 찾아오게 됩니다. 때문에 보다 효과적이고 효율적으로 비즈니스를 진행하게 됩니다. 친분을 쌓을 때도 마찬가지입니다.
								br
								p.text-white 3)세 번째, 시간의 자율성
								p.text-white -나의 영역을 구축 하고, 브랜드의 가치를 인정받게 된 이후에는 내가 원하는 시간에 원하는 장소에서 원하는 일을 원하는 사람들과 할 수 있다는 자유를 얻게 됩니다.