extends admin_layout
block content
	.content
		.row
			ul.list-group
				li.list-group-item
					.row
						.col-1 #
						.col-2 이름
						.col-3 연락처
						.col-md-6 남기는 말
				each item, idx in list
					li.list-group-item
						.row
							.col-1 #{idx + 1}
							.col-2 #{item.user_name}
							.col-3 #{item.user_phone}
							.col-md-6 #{item.mention}
