.page-header(data-parallax="true" style='background-image: url("../assets/img/daniel-olahh.jpg"); transform: translate3d(0px, 0px, 0px);')
	.filter
	.container
		.motto.text-center
			h1 Example page
			h3 Start designing your landing page here.
			br
			a.btn.btn-outline-neutral.btn-round(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
				i.fa.fa-play
				| Watch video
			button.btn.btn-outline-neutral.btn-round(type="button") Download
