.page-header.section-dark(style="background-image: url('/cache_img/pb_main.jpg')")
  //.filter
  .content-center
    .container
      .title-brand
        //h1.presentation-title PB UNION
        //.fog-low
        //  img(src="/paper-kit/assets/img/fog-low.png" alt="")
        //.fog-low.right
        //  img(src="/paper-kit/assets/img/fog-low.png" alt="")
      //h2.presentation-subtitle.text-center Personal Branding with UNION
  //.moving-clouds(style="background-image: url('/paper-kit/assets/img/clouds.png'); ")
  //h6.category.category-absolute
  //  | Designed and coded by
  //  a(href="https://www.creative-tim.com" target="_blank")
  //    img.creative-tim-logo(src="/paper-kit/assets/img/creative-tim-white-slim2.png")