.section#outside.bg-common
	img(src='/cache_img/outside.jpg', width='100%')
	.middle_wrap
		h2
			span.dohyeonFont.text-danger out
			span.dohyeonFont.text-dark side
.section.p-0
	.container-fluid
		.row
			.col-md-3.col-5
				img(src='/cache_img/outside-side.jpg', width='100%')
			.col-md-9.col-7