.section.section-gray#representation
  .container
    h2.text-center 대표소개
    h5.text-info 이력
    p 이화여대 시각디자인 졸업
    p Universität Heidelberg' 교육상담학 졸업
    br

    h5.text-info 자격사항
    p NCS 수석강사 (비즈니스 매너, 커뮤니케이션, 메뉴얼교육)
    p 이미지컨설턴트 (아나운서, 승무원 이미지 컨설팅, 퍼스널 컬러진단, 퍼스널 브랜딩)
    p 컬러리스트 기사
    br

    h5.text-info 경력
    p 현) 퍼스널브랜딩 유니온 대표
    p 현) 한국브랜딩 이미지 메이킹 출강 강사
    p 현) 한국교육센터 전담 강사
    br
    p 서울시내 대학 리더십 강의
    p 퍼스널브랜딩 강사
    p 기업 이미지 교육 컨설턴트
    p INCS 지식세미나 강사