a:focus{outline: none;}
@media screen and (max-width: 991px) {
    .dropdown.show .dropdown-menu {
        display: block;
        position: static;
        height: auto;
    }
    .page-header{min-height:300px;}
}
